<div class="container">
  <h1>Create a Event</h1>
  <form class="form" action="/event-detail" method="POST">
    <div class="form-group">
      <label for="title">What will you do?</label>
      <input class="form-control" type="text" id="title" name="title">
    </div>

    <div class="form-group">
      <label for="location">Where?</label>
      <input class="form-control" type="text" id="location" name="location">
    </div>

    <div class="form-group">
      <label for="date">When?</label>
      <input class="form-control" type="date" id="date" name="date">
    </div>

    <div class="form-group">
      <label for="time">Time:</label>
      <input class="form-control" type="time" id="time" name="time">
    </div>

    <div class="form-group">
      <label for="description">Tell us more?</label>
      <textarea class="form-control" id="description" name="description"></textarea>
    </div>

    <div class="form-group">
      <label for="maxParticipants">How many guests do you accept?</label>
      <input class="form-control" type="number" min="1" id="maxParticipants" name="maxParticipants">
    </div>

    <button class="btn btn-primary" type="submit">Create Event</button>
  </form>
</div>
