<div class="container" style="display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
     flex-direction: column;">
  <h1>Create an Event</h1>
  <form class="form" action="/event-detail" method="POST" style="text-align: center; margin: 0 auto;">
    <div class="form-group">
      <label for="title">What will you do?</label>
      <input class="form-control" type="text" id="title" name="title" style="width: 200px; ">
    </div>

    <div class="form-group">
      <label for="location">Where?</label>
      <input class="form-control" type="text" id="location" name="location" style="width: 200px;">
    </div>

    <div class="form-group">
      <label for="date">When?</label>
      <input class="form-control" type="date" id="date" name="date" style="width: 200px;">
    </div>

    <div class="form-group">
      <label for="time">Time:</label>
      <input class="form-control" type="time" id="time" name="time" style="width: 200px;">
    </div>

    <div class="form-group">
      <label for="description">Tell us more?</label>
      <textarea class="form-control" id="description" name="description" style="width: 200px;"></textarea>
    </div>

    <div class="form-group">
      <label for="maxParticipants">How many guests do you accept?</label>
      <input class="form-control" type="number" min="1" id="maxParticipants" name="maxParticipants" style="width: 200px;">
    </div>

    <button class="btn btn-primary" type="submit">Create Event</button>
  </form>
</div>
