<h1>Create a Event</h1>
<form action="/my-events" method="POST">
    <label for="title">What will you do? </label>
    <input type="text" id="title" name="title" />

    <label for="location">Where? </label>
    <input type="text" id="location" name="location" />

    <label for="date">When? </label>
    <input type="date" id="time" name="date" />

    <label for="time">Time:</label>
    <input type="time" id="time" name="time">

   <label for="description">Tell us more? </label>
   <input type="text" id="description" name="description" />

   <label for="maxParticipants">How many guests do you accept? </label>
   <input type="number" min="1" id="maxParticipants" name="maxParticipants" />

   <input type="submit" value="Create Event"></input>

</form>