<div class="container d-flex flex-column align-items-center">
    <p style="color: #F78F20; font-size: 90">Joyn Me</p>
    <img src="/images/pow.png" alt="pow" width="300" style="margin-top: 20px">
    </p>
    <div style="color: #FFFFFF; font-size: 40; margin-top: 35px; text-align: center">Create <span style="color: #F78F20;">events</span>, meet <span style="color: #F78F20;">friends<span style="color: #FFFFFF; font-size: 40;">, joyn.</span></div>
    <div class="d-flex"  style="margin-top: 80px; margin-bottom: 10px;">
        <a style="background-color: #FFFFFF; color: #F78F20; font-size: 20px; font-weight: bold; padding: 10px 20px; margin-right: 100px; text-decoration: none; border: none; border-radius: 5px;" href="/auth/signup">Sign up</a>
        <a style="background-color: #F78F20; color: #FFFFFF; font-size: 20px; font-weight: bold; padding: 10px 20px; margin-left: 100px; text-decoration: none; border: none; border-radius: 5px;" href="/auth/login">Log in</a>
        <img src="/images/diana-rafal-avatar.png" alt="diana-rafal-avatar" class="diana-rafal-avatar" width="270" style="margin-top: 5px; position: absolute; bottom: 0; left: 5px; z-index: 999;">

    </div>
</div>
