<div class="landing d-flex flex-column justify-content-between align-items-center">
     <h1 class="landing-welcome pt-4 mt-5">Welcome to <span>JoynMe</span></h1>

    <div class="d-flex justify-content-center align-items-center">
        <div class="my-3 landing-menu d-flex justify-content-center align-items-center flex-column flex-md-row">
            <div class="landing-box-one d-flex justify-content-center align-items-center">
                    <img class="landing-logo" src="/images/pow.png" alt="logo">
            </div>
            <div class="landing-box-two p-4">
                <h4>Social events page</h4>
                <ul class="py-2">
                    <li class="py-2">Browse events in your area</li>
                    <li class="py-2">Create events with an open invitation</li>
                    <li class="py-2">Make new friends wherever you are</li>
                </ul>
                
            </div>
            <div class="landing-box-three d-flex flex-column justify-content-center align-items-center">
                <a class="m-3 landing-btn btn action-button" href="/auth/login">Log In</a>
                <a class="m-3 landing-btn btn action-button" href="/auth/signup">Sign Up</a>
            </div>
        </div>
    </div>
    <p class="landing-footer text-center">For demo purposes you can login with username: 'Rafal' password: 'happycoding'. Then check exciting events in Berlin  on 1.07.2023.<br>This website is an educational project coded by <a href="https://github.com/Deezledee"> Diana (Dee) Kalstein ↗ </a> and <a href="https://github.com/RafalK01">Rafal Kolibaba ↗ </a> &copy;. Check out our GitHub accounts!</p>
</div>


