<div class="container d-flex flex-column align-items-center">
    <p class="landing-name" >Joyn Me</p>
    <img src="/images/pow.png" alt="pow" width="300" style="margin-top: 20px">
    <p class="py-5 landing-catch-phrase" >Create or join events and meet new friends around the world! </p>
    <div class="d-flex" >
        <a class="mx-3 btn action-button" href="/auth/signup">Sign Up</a>
        <a class="mx-3 btn action-button" href="/auth/login">Log In</a>
    </div>
</div>
