<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>JoynMe</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

{{#if currentUser}}

  <nav class="navbar navbar-light navbar-expand-lg nav-custom ">
    <div class="container">
      <a class="navbar-brand" href="/main"><img class="nav-logo" src="/images/pow.png" alt="pow"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/create-event">Create Event</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/main">Browse</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/my-events">My Events</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/auth/logout">Logout</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/profile-details">{{currentUser.username}}</a>
          </li>
          <li class="nav-item active">
            <img class="nav-logo" src="{{currentUser.picture}}" alt="profile picture">
          </li>
        </ul>
      </div>
    </div>
  </nav>
{{/if}}


  {{{body}}}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/script.js"></script>

</body>

</html>
