<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Title</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Courgette&family=Noto+Sans:ital,wght@0,200;0,300;1,100;1,200&display=swap"
      rel="stylesheet"
    />
  </head>

  <body style="height: 100vh; color: #F78F20; background-color: #112C4A; font-family: 'Cougette', cursive; position: relative;">
    <img src="/images/diana-rafal-avatar.png" alt="diana-rafal-avatar" class="diana-rafal-avatar" width="270" style="margin-top: 5px; position: absolute; bottom: 0; left: 5px; z-index: 999;">
    <nav
      class="navbar navbar-expand-sm"
      style=" color: #F78F20; background-color: #112C4A;"
    >
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul
            class="navbar-nav mr-auto"
            style="display: flex; align-items: flex-start;"
          >
            <li class="nav-item" style="margin-right: 20px;">
              <a href="/create-event" style="color: #FFFFFF; font-size: 20px">Create Event</a>
            </li>
            <li class="nav-item" style="margin-right: 20px;">
              <a href="/main" style="color: #FFFFFF; font-size: 20px">Browse</a>
            </li>
            <li class="nav-item" style="margin-right: 20px;">
              <a href="/my-events" style="color: #FFFFFF; font-size: 20px">My Events</a>
            </li>
            <li class="nav-item" style="margin-right: 20px;">
              <a href="/profile" style="color: #FFFFFF; font-size: 20px">View profile</a>

            </li>
            <li class="nav-item" style="margin-right: 20px;">
              <a href="/auth/logout" style="color: #FFFFFF; font-size: 20px">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>