<div class="mt-1 container browse-container">
    <div class="row px-2">
        <div class="my-5 p-3 col-md-6 text-center browse-upcoming">
            <h1 class="m-3 browse-title">Browse Upcoming Events</h1>
            <form action="/upcoming-events" method="POST">
                <div class="form-group d-flex flex-column justify-content-center align-items-center">
                    <label for="location" class="m-2 form-label">Where?</label>
                    <input type="text" class="form-control w-75" id="location" placeholder="Enter location" name="location">
                    <label for="city" class="m-2 form-label">When?</label>
                    <input type="date" class="form-control w-75" id="date" placeholder="Enter date" name="date">
                    <input class="m-5 btn action-button" type="submit" value="Search">
                </div>
            </form>
        </div>
        <div class="col-md-1 text-center d-flex justify-content-center align-items-center">
            <p>OR</p>
        </div>
        <div class="col-md-5 text-center d-flex justify-content-center align-items-center">
            <a class="btn action-button create-event-button" href="/create-event">Create Event</a>
        </div>
    </div>
</div>


