<h1>Main</h1>
<form action="/main" method="GET">
 <div class="form-group">
    <h3>Browse upcoming events</h3>
    <label for="city">Where?</label>
    <input type="text" class="form-control" id="city"  placeholder="Enter city">
    <label for="city">When?</label>
    <input type="date" class="form-control" id="date"  placeholder="Enter date">
</form>


<a href="/create-event">Create Event</a>