<div class="container">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 style="font-size: 40px; font-weight: bold; margin-top: 75px; margin-bottom: 40px">Browse Upcoming Events</h1>
            <form action="/upcoming-events" method="POST">
                <div class="form-group">
                    <label for="location" style="font-size: 20px; font-weight: bold; margin-bottom: 20px">Where?</label><br>
                    <input type="text" class="form-control" id="location" placeholder="Enter location" name="location" style="width: 250px; margin: 0 auto 10px;">
                    <br>
                    <label for="city" style="font-size: 20px; font-weight: bold; margin-bottom: 20px">When?</label><br>
                    <input type="date" class="form-control" id="date" placeholder="Enter date" name="date" style="width: 250px; margin: 0 auto 20px;">

                    <input class="btn btn-secondary" type="submit" value="Search" style="color:#FFFFFF; background-color: #F78F20; font-size: 20px; font-weight: bold; margin-top: 20px">
                </div>
            </form>
        </div>
        <div class="col-md-6 text-center" style="display: flex; flex-direction: column; justify-content: center; align-items: center; position: relative;">
            <a class="btn btn-primary" href="/create-event" style="text-align: center; font-size: 90px; font-weight: bold; margin-top: 60px; width: 400px; height: 300px; color:#FFFFFF; background-color: #F78F20; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">
                Create Event 
            </a>
        </div>
    </div>
</div>
