<div class="d-flex flex-column align-items-center">
    <h1 class="p-3 welcome">My profile</h1>
    <div class="auth-card p-4 col-lg-6 col-md-12 d-flex flex-column align-items-center">
      <div class="profile-pic-circle">
        <img src="{{currentUser.picture}}" alt="profile picture" class="profile-picture" >
      </div>
      <div class="py-5">
        <p><span class="profile-log">Username: </span>{{currentUser.email}}</p>
        <p><span class="profile-log">My interests: </span>{{currentUser.interests}}</p>
        <p><span class="profile-log">About me: </span>{{currentUser.about}}</p>
      </div>
      <div class="p-2 d-flex">
        <a href="/edit-profile" class="btn action-button m-2">Edit profile</a>
        <a class="btn gray-blue-button m-2" href="/auth/logout">Logout</a>
      </div>
  </div>
</div>
