

<div class="container d-flex flex-column align-items-center">
    
    <h1 style="margin-bottom: 40px; margin-top:40px; font-size: 50px; font-weight: bold">Sign Up</h1>
    <form class="d-flex flex-column" action="/auth/signup" method="POST">
        <label for="username" style="margin-bottom: 20px; font-size: 20px; font-weight: bold">Username:</label>
        <input type="text" name="username" required style="width: 250px; height: 40px; margin-bottom: 20px;">

        <label for="password" style="margin-bottom: 20px; font-size: 20px; font-weight: bold">Password:</label>
        <input type="password" name="password" required style="width: 250px; height: 40px; margin-bottom: 20px; font-size: 20px">

        <button class="btn btn-primary" type="submit" style="width: 250px; height: 40px; background-color: #F78F20; color: #FFFFFF; margin-top: 20px; font-size: 20px; padding-bottom: 40px; font-weight: bold">Signup</button>
    </form>

    {{#if message}}
        <h3 class="error">{{message}}</h3>
    {{/if}}
</div>
